import(methods)
import(utils)
import(httr)
import(jsonlite)
import(progress)
importFrom(Biobase, validMsg)
importFrom(BiocGenerics, Ontology)
importClassesFrom(Biobase, Versioned)

exportClasses(CVParam,
              Term, Terms,
              Ontology, Ontologies,
              OlsSearch,
              Property, Properties)

exportMethods(show,
              "[", "[[", lapply,
              coerce,
              length,
              unique,
              ## Ontology/ies
              Ontology, Ontologies,
              olsRoot,
              olsPrefix,
              olsDesc,
              olsTitle,
              olsStatus,
              olsNamespace,
              ## Term/s
              all.equal,
              termLabel,
              termPrefix,
              termNamespace,
              termOntology,
              termDesc,
              term, terms,
              termId,
              ## Property/ies
              properties)


export(charIsCVParam, CVParam,
       ## Ontology/ies
       olsVersion,
       olsLoaded,
       olsUpdated,
       ## Term/s
       isObsolete,
       isRoot,
       termSynonym,
       children, parents,
       ancestors, descendants,
       derivesFrom, partOf,
       ## Search/select
       OlsSearch,
       olsSearch,
       olsRows, "olsRows<-", allRows)
